<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/insert_memo">
        <table>
            <tr>
                <td><input type="type" name="memo" size="50"/><input type="submit" value='submit' name="" /></td>
            </tr>
        </table>
    </form>
    <span style="color: #A3B90F; font-size: 35px;"><%= dataMemo %></span>
</body>
</html>